@media only screen and (max-width: 768px) {

  .container,
  .container-sm {
    max-width: none;
  }

  .top-navbar {
    display: none;
  }

  .second-section .fa-solid {
    color: #fff;
  }

  .second-section ul li {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .second-section .dropdown-menu li {
    text-align: left;
    font-size: 16px;
  }

  .second-section .dropdown-menu {
    border: 2px solid transparent;
    padding: 0px 10px;
}
  .second-section .navbar-nav {
    padding: 0px 18px;
  }

  .second-section .navbar-collapse {
    background: #fff;
    margin-top: 15px;
  }


  .second-section ul .link:hover {
    padding: 10px;
  }


  .second-section {
    background: rebeccapurple;
  }

  .second-section .mobile-nav div i {
    color: #fff;
  }

  .second-section .mobile-nav div {
    margin: 20px;
  }

  .second-section .content h2 {
    color: #fff;
    font-size: 25px;
    margin-top: 6%;
  }

  .second-section .content h2 span {
    font-size: 25px;
  }

  .second-section .content p {
    color: #fff;
    font-size: 12px;
  }

  .second-section .content .email-input {
    width: 90%;
    border: 1px solid #fff;
  }

  .second-section .content .email-button button {
    padding: 17px 10px;
  }

  .content {
    padding-top: 120px;
  }
}

@media only screen and (max-width: 500px) {

  .card .card-img {
    display: flex;
    justify-content: center;
  }

  .card .card-body {
    text-align: center;
  }
}